fastapi
uvicorn[standard]

sqlalchemy==2.0.41
alembic

psycopg2-binary

python-dotenv

python-jose[cryptography]

passlib[bcrypt]

python-multipart

email-validator

python-slugify

cloudinary

aiofiles

websockets

httpx

requests

bcrypt

pillow

reportlab

openpyxl

pandas

xlsxwriter

qrcode

python-dateutil